{% extends "base.html.twig" %}


{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares</h1>
	<div class="row">

		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" with {'p': product} %}
				{# dans mont template, la variable s'appelle p du cou je la renome ici {'p': product} %} ici p s'appelle product #}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>
		e lorem ipsum (également appelé faux-texte, lipsum, ou bolo bolo) est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour ...
	</p>
	<div class="row">
		{% include "shared/_assurance.html.twig"  with {
			'color': 'primary',
			'icone': 'fas fa-truck',
			'text': "Lorem Ipsum est un générateur de faux textes aléatoires. 
			Vous choisissez le nombre de paragraphes, de mots ou de listes. Vous obtenez alors un texte aléatoire que vous pourrez ensuite utiliser librement dans vos maquettes."
		}%}


		{% include "shared/_assurance.html.twig"  with {
			'color': 'success',
			'icone': 'fas fa-check',
			'text': "Lorem Ipsum est un générateur de faux textes aléatoires. 
			Vous choisissez le nombre de paragraphes, de mots ou de listes. Vous obtenez alors un texte aléatoire que vous pourrez ensuite utiliser librement dans vos maquettes."
		}%}


		{% include "shared/_assurance.html.twig"  with {
			'color': 'warning',
			'icone': 'fas fa-lock',
			'text': "Lorem Ipsum est un générateur de faux textes aléatoires. 
			Vous choisissez le nombre de paragraphes, de mots ou de listes. Vous obtenez alors un texte aléatoire que vous pourrez ensuite utiliser librement dans vos maquettes."
		}%}

	</div>
{% endblock %}
